<!doctype html>
<html>
<head>
</head>

<body>

    <h1>ReEarth</h1>
    <p>
        You have submitted a password change request! If it was you, please confirm the password change.
    To reset your password click on the following link:
    </p>

    <a href="{{ . }}">{{ . }}</a>

    <p>If you are having any issues with your account, please don't hesitate to contact us by replying to this mail. Thank you!</p>

</body>

</html>