Content-Transfer-Encoding: quoted-printable
Content-Type: text/plain; charset=utf-8
Mime-Version: 1.0

ReEarth
You have submitted a password change request! If it was you, please confirm the password change.
To reset your password click on the following link:

{{ . }}

If you are having any issues with your account, please don't hesitate to contact us by replying to this mail. Thank you!